<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base :: head ('Novo Pedido')}"></head>

<body>

<div th:replace="~{base :: logo}"></div>

<div class="container">

    <div th:replace="~{base :: pageTitle ('Novo Pedido')}"></div>

    <div class="card mt-3">
        <form th:object="${requestOrder}" class="card-body" action="/order/save" method="post">
            <div class="mb-3">
                <label class="form-label" for="orderName">Produto</label>

                <input th:field="*{orderName}" th:errorclass="is-invalid" class="form-control"
                       placeholder="nome do produto" type="text">

                <small>Informe qual é o nome do produto</small>

                <div th:errors="*{orderName}" class="invalid-feedback">
                    Erros do nome do produto
                </div>
            </div> <!-- end mb-3 -->

            <div class="mb-3">
                <label class="form-label" for="orderUrl">Url</label>

                <input th:field="*{orderUrl}" th:errorclass="is-invalid" class="form-control"
                       placeholder="url do produto" type="text">

                <small>Procure em um site o produto que você deseja e cole a url da página aqui</small>

                <div th:errors="*{orderUrl}" class="invalid-feedback">
                    Erros da url do produto
                </div>
            </div> <!-- end mb-3 -->

            <div class="mb-3">
                <label class="form-label" for="orderImage">Produto</label>

                <input th:field="*{orderImage}" th:errorclass="is-invalid" class="form-control"
                       placeholder="url da imagem" type="text">

                <small>Copie a url de uma boa imagem e cole aqui para ajudar a conseguir compradores</small>

                <div th:errors="*{orderImage}" class="invalid-feedback">
                    Erros da url da imagem
                </div>
            </div> <!-- end mb-3 -->

            <div class="mb-3">
                <label class="form-label" for="description">Descrição</label>

                <textarea th:field="*{description}" class="form-control"
                          placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
            </div> <!-- end mb-3 -->

            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div> <!-- end card -->
</div> <!-- end container -->

</body>
</html>
